# Python cache files
__pycache__/
*.py[cod]
.Python

# Virtual environment
venv/
env/
.env
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data directories
/datasets/
/Results/
/Test/

# Model weights
*.pt

# Logs and temporary files
*.log
*.tmp
